.crmsidekick-popup {
    position: fixed;
    top: 109px;
    right: -4px;
    display: flex;
    width: 400px;
    background: #edededb5;
    padding: 16px 10px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border: 2px #0742b2 solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.crmsidekick-popup progress {
    width: 100%;
}

.crmsidekick-popup img {
    width: 150px;
    border-radius: 40px;
    margin-right: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.crmsidekick-popup h5 {
    font-size: 2.3em !important;
    color: #702003 !important;
}

.crmsidekick-popup h6 {
    font-size: 1.0rem !important;
    color: #586792 !important;
}